<header>
<!-- <img class="himg" src="/images/projects/eskate/lede.jpg" alt="e-skate"> -->
<video src="/images/projects/eskate/lede.mp4" poster="/images/projects/eskate/lede-poster.jpg" autoplay muted loop></video>
<svg class="hsvg" id="hsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 788">
<path class="stroke fill" d="M781.7,190.2l-163,39.5a22.1,22.1,0,0,0-16.9,21.5v417a22.1,22.1,0,0,0,33.4,19.1l65.4-38.5a22.1,22.1,0,0,1,13.7-2.9l70.1,8a22.1,22.1,0,0,0,24.6-22V211.7A22.1,22.1,0,0,0,781.7,190.2Zm-84.3,427V553.3H668.1l45.3-75v63.9h29.3Z"/>
<path class="stroke fill" d="M888.7,404l-378,91.6A45.9,45.9,0,0,1,454.1,451V347.7a22.9,22.9,0,0,1,17.5-22.2L917.7,217.4a22.9,22.9,0,0,1,28.2,22.2v91.6A74.9,74.9,0,0,1,888.7,404Z"/>
<path class="stroke" d="M584.5,443.5c33.3-8.2,61-48.6,61-92,12.4,13.9,25.2,26.5,25.2,46,0,15.3-8.1,27.6-26.3,32.2-21.3,5.4-47.7-4.4-59.9-23.9"/>
<path class="stroke" d="M722,288c-19.6,4.8-30.1,20.8-30.1,56.2v72.1"/>
<path class="stroke" d="M748.9,402c-16.8,4.2-37.1-18.3-43.5-31.2"/>
<line class="stroke" x1="736.5" y1="330.3" x2="691.8" y2="388"/>
<path class="stroke" d="M806.4,333.3c0,28.2-13.2,58.2-31.8,62.8-9.1,2.2-19.2-5.3-19.2-31.5,0-21.3,8.7-41.6,23.8-45.3,9.3-2.3,17,3.8,25.3,32.8"/>
<path class="stroke" d="M806.4,313.5v37.2c0,19,4.5,33.7,14.4,33.7"/>
<path class="stroke" d="M831.3,260.8v83.1c0,19,4.5,33.7,14.4,33.7"/>
<line class="stroke" x1="863.1" y1="282.4" x2="817.1" y2="293.7"/>
<line class="stroke" x1="595.1" y1="378.7" x2="549.1" y2="390"/>
<line class="stroke" x1="810.7" y1="266.4" x2="740.8" y2="283.7"/>
<line class="stroke" x1="921.7" y1="239" x2="851.9" y2="256.2"/>
<line class="stroke" x1="677.7" y1="299.3" x2="481.8" y2="347.8"/>
<path class="stroke" d="M854.5,350c32.4-8.9,46.6-31.9,46.6-46,0-8.9-5.9-14.5-16.6-11.9-14.8,3.7-30.4,26.3-30.4,52.3,0,17.4,9.4,27.6,24.3,23.9,18.6-4.6,28-17.9,34.1-34.6"/>
<path class="stroke" d="M480.9,445.1c32.4-8.9,46.6-31.9,46.6-46,0-8.9-5.9-14.5-16.6-11.9-14.8,3.7-30.4,26.3-30.4,52.3,0,17.4,9.4,27.6,24.3,23.9,18.6-4.6,28-17.9,34.1-34.6"/>
</svg>
</header>

<section>
  <p>I first got hooked on electric skateboards after riding my friend, <a href="https://www.youtube.com/user/sampsheffer">Sam Sheffer’s</a>, <a href="https://boostedboards.com/">Boosted Board</a> around the East Village in New York City. The feeling of surfing along pavement is exhilerating, I had to have an electric skateboard but I wanted that connection you only get when you build one yourself. After a fair amount of research I stumbled across <a href="http://runplayback.com/i-built-another-diy-electric-longboard-with-more-power">Rik Cordero’s build</a> and decided to make somthing similar for myself. Soon, working with the board became my focus in my free time as I dug into how electronic speed controllers worked, battery voltage and amperage limits, and different ways to drive DC motors.</p>
  <p>This process of doing it myself is somthing that has been part of projects since I was a kid. If I wanted a computer, ok, go out and find parts and put them together. If I wanted a go kart, ok, find parts and put them together. Every project came with unique challenges and pitfalls but I’ve always learned so much in the process of overcoming them. If I were to ever second guess a feature of somthing I built I can always get in there and fix or improve the project.</p>
  <p>In starting the project I got a JET Deck, CarvOn motors, 12s Torqueboards ESCs (speed controllers), and a 10s4p battery from Enertion. Quickly I found the ESCs weren’t strong enough after burning them up</p>
</section>

<div class="gallery">
  <img src="http://i.imgur.com/rOGC4Ub.jpg">
  <img src="http://i.imgur.com/9vwObBE.jpg">
  <img src="http://i.imgur.com/ryMZyAL.jpg">
  <img src="http://i.imgur.com/WaOQiew.jpg">
  <img src="http://i.imgur.com/TQBLoWO.jpg">
  <img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/14294973_1785657055042688_499994497_n.jpg">
</div>

<section>
  <p>final</p>
  <p>Sam video</p>
  <p>enjoyment/pleasure both riding and building</p>
</section>
