<%= partial "partials/head" %>
  <body id="home">
    <article id="main" role="main">
      <h1>Scott Kellum</h1>
      <%= yield %>
    </article>
    <%= partial "partials/footer" %>
  </body>

</html>
