<%= partial "partials/head" %>
  <body id="legacy">
    <article id="main" role="main">
      <%= yield %>
    </article>

    <nav>
      <ul>
        <li id="home"><a href="/">home</a></li>
      </ul>
    </nav>
    <%= partial "partials/footer" %>
  </body>
</html>
