<%= partial "partials/head" %>
  <body id="portfolio">
    <nav id="portfolio-nav">
      <a href="#modularscale">Modular Scale</a>
      <a href="#athena">Ad products</a>
      <a href="#mma">MMA Live</a>
      <a href="#editorial">Editorial design</a>
      <a href="#vox">Vox.com</a>
      <a href="#branded">Branded content</a>
      <a href="#type">Type and lettering</a>
    </nav>
    <article id="main" role="main">
      <%= yield %>
    </article>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag 'portfolio' %>
  </body>
</html>
