<%= partial "partials/head" %>
  <body id="portfolio">    
    <article id="main" role="main">
      <%= yield %>
    </article>
    
    <nav>
      <ul>
        <li id="home"><a href="/">home</a></li>
      </ul>
    </nav>
  </body>
  <%= partial "partials/footerjs" %>
</html>
