<%= partial "partials/head" %>
  <body id="portfolio">
    <article id="main" role="main">
      <%= yield %>
    </article>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag 'portfolio' %>
  </body>
</html>
