<%= partial "partials/head" %>
  <body id="project">
    <canvas id="c"></canvas>
    <article id="main" role="main">
      <%= yield %>
    </article>
    <%= partial "partials/footer" %>
    <div id="progress" class="progress"></div>
    <%= javascript_include_tag 'main' %>
  </body>
</html>
