:root {
  --hue: 23;
  --color: hsl(23, 96%, 45%);
  --foreground: hsl(23, 10%, 10%);
  --background: hsl(20deg, 80%, 90%);

  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.text {
  max-width: 36rem;
}

section,
main {
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 4% 4% 8%;
  display: grid;
  grid-template-columns:
    auto clamp(0px, 20%, 12rem) clamp(0px, 20%, 12rem) clamp(0px, 20%, 12rem)
    clamp(0px, 20%, 12rem) clamp(0px, 20%, 12rem) auto;
  grid-template-rows: auto min-content min-content 1fr;
  color: var(--primary);
  background-color: var(--background);
  --primary: hsl(200deg, 50%, 20%);
  --action: hsl(35deg, 80%, 40%);
  --background: hsl(16deg, 50%, 90%);
}

a {
  color: var(--action);
}

.filter {
  position: absolute;
}

.cta {
  display: table;
  text-decoration: none;
  background-color: var(--action);
  color: #fff;
  mix-blend-mode: multiply;
  line-height: 1 !important;
  margin: 1rem 0;
  padding: 1rem;
}
.cta:after {
  display: table-cell;
  content: "";
  width: 2em;
  height: 1em;
  background-image: url("/lib/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-left: 1em solid var(--action);
  transition: width 0.5s ease-in-out;
}
.cta:hover:after,
.cta:focus:after {
  width: 7em;
}

.canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* /////////////////////////////
PROFILE
///////////////////////////// */

.profile {
  --primary: hsl(220deg, 60%, 40%);
  --action: hsl(35deg, 80%, 40%);
  --background: hsl(45deg, 100%, 68%);
  background-image: linear-gradient(
    -45deg,
    hsl(40deg, 80%, 58%),
    hsl(45deg, 100%, 68%)
  );
}
.profile .text {
  max-width: none;
}
.profile:before {
  content: "";
  display: block;
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 3;
  height: 0;
  padding-bottom: 100%;
  background: hsl(35deg, 100%, 65%);
  background-image: linear-gradient(
    -45deg,
    hsl(16deg, 50%, 100%),
    hsl(20deg, 80%, 85%)
  );
  border-radius: 50%;
  box-shadow: 0 1rem 3rem -1rem #55220066;
}
.profile .primary-headline {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: span 7;
  text-align: center;
  padding: 0.33em 0 0;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  mix-blend-mode: multiply;
  transform: translateY(33%);
  text-shadow: 1px 1px 0 var(--primary), 2px 2px 0 var(--primary),
    3px 3px 0 var(--primary), 4px 4px 0 var(--primary), 5px 5px 0 var(--primary),
    6px 6px 0 var(--primary), 7px 7px 0 var(--primary), 8px 8px 0 var(--primary),
    9px 9px 0 var(--primary), 10px 10px 0 var(--primary),
    11px 11px 0 var(--primary), 12px 12px 0 var(--primary),
    13px 13px 0 var(--primary), 14px 14px 0 var(--primary);
  color: #fff;
}
.profile img {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 3;
  display: block;
  margin: 0 auto;
  mix-blend-mode: multiply;
  position: relative;
  box-shadow: 0 1rem 3rem -1rem #55220066;
  border-radius: 0 18rem 0 0;
  filter: saturate(0) contrast(0.4) brightness(1.6);
  will-change: filter;
  transition: filter 1s ease-in-out;
}
.profile img:hover {
  filter: none;
}
.profile-card {
  grid-row-start: 3;
  grid-row-end: span 2;
  grid-column-start: 4;
  grid-column-end: span 3;
  position: relative;
  padding: 1.25rem 2rem;
  background: hsla(0deg, 0%, 10%, 0.8);
  color: hsl(45deg, 60%, 90%);
  backdrop-filter: blur(1rem);
  box-shadow: 0 1rem 3rem -1rem #55220066;
  z-index: 4;
  --action: hsl(35deg, 100%, 65%);
}
.profile .photo-caption {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: start;
  color: hsl(20deg, 10%, 70%);
  mix-blend-mode: multiply;
}
.profile .photo-caption a {
  color: hsl(20deg, 10%, 70%);
}

@media (max-width: 40em) {
  .profile-card {
    margin-top: -5rem;
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: span 4;
  }
  .profile .caption {
    grid-column-end: span 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0 0 0 0.4rem;
  }
  .profile .caption:after {
    display: none;
  }
}

/* /////////////////////////////
TYPETURA
///////////////////////////// */

.typetura {
  --background: #ffebe5;
  --foreground: #085147;
  --action: #ed8600;
  color: var(--foreground);
}

.typetura .primary-headline {
  grid-column-start: 2;
  grid-column-end: span 5;
  color: #129681;
  mix-blend-mode: multiply;
}

.typetura .text {
  grid-column-start: 3;
  grid-column-end: span 4;
}

.typetura .canvas {
  z-index: -1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  transform: scale(3);
  overflow: hidden;
}
.typetura .canvas * {
  color: #ffd9ce;
  display: inline-block;
  animation-delay: calc(-1s * var(--input));
  animation-play-state: paused;
  animation-duration: 1s;
  grid-column-end: span 1;
  grid-row-end: span 1;
  margin: 0;
  padding: 1rem;
}
.typetura .canvas *:nth-child(1) {
  --input: calc(var(--clientx) / var(--viewportwidth));
  justify-self: end;
  align-self: end;
  grid-column-start: 1;
  grid-row-start: 1;
}
.typetura .canvas *:nth-child(2) {
  --input: calc(var(--clienty) / var(--viewportheight));
  justify-self: start;
  align-self: end;
  writing-mode: vertical-lr;
}
.typetura .canvas *:nth-child(3) {
  --input: calc(
    calc(var(--viewportheight) - var(--clienty)) / var(--viewportheight)
  );
  justify-self: end;
  align-self: start;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.typetura .canvas *:nth-child(4) {
  --input: calc(
    calc(var(--viewportwidth) - var(--clientx)) / var(--viewportwidth)
  );
  justify-self: start;
  align-self: start;
}

/* /////////////////////////////
MEDIA
///////////////////////////// */

.media {
  --background: hsl(190deg, 2%, 88%);
  --foreground: hsl(40, 10%, 8%);
  color: var(--foreground);
}

.media .primary-headline {
  grid-column-start: 2;
  grid-column-end: span 5;
}

.media .text {
  grid-column-start: 3;
  grid-column-end: span 4;
}

/* /////////////////////////////
WORK
///////////////////////////// */

.work {
}

/* /////////////////////////////
PHOTOGRAPHY
///////////////////////////// */

.photography {
}
