:root {
  --hue: 23;
  --color: hsl(23, 96%, 45%);
  --foreground: hsl(23, 10%, 10%);
  --background: hsl(20deg,80%,90%);

  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.text {
  max-width: 30rem;
}

section,
main {
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 4% 4% 8%;
  display: grid;
  grid-template-columns: auto clamp(0px,20%,12rem) clamp(0px,20%,12rem) clamp(0px,20%,12rem) clamp(0px,20%,12rem) clamp(0px,20%,12rem) auto;
  grid-template-rows: auto min-content min-content 1fr;
  color: var(--primary);
  background-color: var(--background);
  --primary: hsl(200deg,50%,20%);
  --action: hsl(35deg,80%,40%);
  --background: hsl(16deg,50%,90%);
}

a {
  color: var(--action);
}

.filter {
  display: none;
}


/* /////////////////////////////
NAV
///////////////////////////// */

nav {
  position: sticky;
  top: 0;
  display: flex;
  backdrop-filter: blur(1rem);
  box-shadow: 0 -1rem 1rem 1rem hsla(0deg,0%,4%,0.9);
  z-index: 10;
  justify-content: center;
  background: hsla(0deg,0%,10%,0.8);
}

nav a {
  display: block;
  padding: 1rem;
  color: hsl(45deg,60%,90%);
  text-decoration: none;
}

/* /////////////////////////////
PROFILE
///////////////////////////// */

.profile {
  --primary: hsl(200deg,25%,25%);
  --action: hsl(35deg,80%,40%);
  --background: hsl(16deg,50%,90%);
  background-image: linear-gradient(-45deg, var(--background), hsl(20deg,80%,90%));
}
.profile .text {
  max-width: none;
}
.profile:before {
  content: '';
  display: block;
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 3;
  height: 0;
  padding-bottom: 100%;
  background: hsl(35deg,100%,65%);
  background-image: linear-gradient(-45deg, hsl(45deg,100%,70%), hsl(35deg,100%,63%));
  border-radius: 50%;
  box-shadow: 0 1rem 3rem -1rem #55220066;
}
.profile .primary-headline {
  grid-column-start: 1;
  grid-column-end: span 7;
  text-align: center;
  padding: 0.33em 0 0.75em;
}
.profile img {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 3;
  display: block;
  margin: 0 auto;
  mix-blend-mode: multiply;
  position: relative;
  box-shadow: 0 1rem 3rem -1rem #55220066;
  border-radius: 0 18rem 0 0;
  filter: saturate(0) contrast(0.4) brightness(1.4);
  will-change: filter;
  transition: filter 1s ease-in-out;
}
.profile img:hover {
  filter: none;
}
.profile-card {
  grid-row-start: 3;
  grid-row-end: span 2;
  grid-column-start: 4;
  grid-column-end: span 3;
  position: relative;
  padding: 1.25rem 2rem;
  background: hsla(0deg,0%,10%,0.8);
  color: hsl(45deg,60%,90%);
  backdrop-filter: blur(1rem);
  box-shadow: 0 1rem 3rem -1rem #55220066;
  z-index: 4;
  --action: hsl(35deg,100%,65%);
}
.profile .caption {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: start;
}

@media (max-width: 40em) {
  .profile-card {
    margin-top: -5rem;
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: span 4;
  }
  .profile .caption {
    grid-column-end: span 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0 0 0 0.4rem;
  }
  .profile .caption:after {
    display: none;
  }
}

/* /////////////////////////////
TYPETURA
///////////////////////////// */

.typetura {
  --background: hsl(150, 45%, 16%);
  --foreground: hsl(40, 38%, 87%);
  background: var(--background);
  color: var(--foreground);
}


/* /////////////////////////////
WORK
///////////////////////////// */

.work {

}


/* /////////////////////////////
PHOTOGRAPHY
///////////////////////////// */

.photography {

}