:root {
  --hue: 23;
  --color: hsl(23, 96%, 45%);
  --foreground: hsl(23, 10%, 10%);
  --background: hsl(23, 22%, 93%);
    
  background: var(--background);
  color: var(--foreground);
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.text {
  max-width: 30rem;
}


/* /////////////////////////////
PROFILE
///////////////////////////// */

.profile {
  background-color: hsl(-80deg, 40%, 80%);
  background-image: conic-gradient(from 0.33turn at 50% 50%, transparent, var(--background), transparent, var(--background), transparent);
  padding: 4%;
  display: grid;
  grid-template-columns: auto clamp(0px,20%,12rem) clamp(0px,20%,12rem) clamp(0px,20%,12rem) clamp(0px,20%,12rem) clamp(0px,20%,12rem) auto;
  grid-template-rows: auto 22rem auto;
}
.profile .text {
  max-width: none;
}
.profile:before {
  content: '';
  display: block;
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 3;
  height: 0;
  padding-bottom: 100%;
  background: hsl(30deg,90%,60%);
  border-radius: 50%;
  box-shadow: 0 1rem 3rem -1rem #55220066;
}
.profile img {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 3;
  display: block;
  margin: 0 auto;
  mix-blend-mode: multiply;
  position: relative;
  box-shadow: 0 1rem 3rem -1rem #55220066;
  border-radius: 0 50% 0 0;
}
.profile-card {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 4;
  grid-column-end: span 3;
  position: relative;
  padding: 2rem;
  background: #ffffffaa;
  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(3rem);
  box-shadow: 0 1rem 3rem -1rem #55220066;
  z-index: 4;
}
.profile .caption {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: span 2;
}

/* /////////////////////////////
TYPETURA
///////////////////////////// */

.typetura {
  --background: hsl(150, 45%, 16%);
  --foreground: hsl(40, 38%, 87%);
  background: var(--background);
  color: var(--foreground);
}


/* /////////////////////////////
WORK
///////////////////////////// */

.work {
  
}


/* /////////////////////////////
PHOTOGRAPHY
///////////////////////////// */

.photography {
  
}