body {
  line-height: calc(1.3em + 1vw);
  margin: 0;
  font-family: $font;
  font-size: 115%;
}

article {
  max-width: $max-width;
  margin: auto;
  padding: 4vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline;
  margin: 0;
  font-weight: 400;
  font-size: 3em;
  line-height: 1;
  font-size: calc(1.2em + #{($scale-factor * 1vw)});
}