html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: ms(0) 5% 25% 5%;
  max-width: ms(8);
  font-family: $freight;
  line-height: ms(1, 1);
  font-size: percentage(18 / 16);
  @include breakpoint(ms(7), $no-query: '.no-mqs') {
    font-size: percentage(20 / 16);
  }
}
