@import "toolkit";

* {
  @include transition(all .25s);
}

// soft reset some things
html, p, q, h1, h2, h3, h4, h5, h6, ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 1em ms(-6, 100%) ms(-3, 100%) ms(-6, 100%);
  max-width: ms(8);
  font-family: $turnip;
  line-height: ms(1, 1);
  font-size: percentage(16 / 16);
  @include breakpoint(ms(7), $no-query: '.no-mqs') {
    font-size: percentage(18 / 16);
  }
}

header, article, aside, footer {
  @include clearfix;
  a:link    {color: darken($primary, 10%);}
  a:visited {color: $primary;}
  a:hover   {color: $secondary;}
  a:active  {color: $secondary;}
}