nav {
  #home a {
    position: fixed;
    top: 0;
    right: 5%;
    display: block;
    background: $primary;
    padding: .5em;
    color: #fff;
    text-decoration: none;
    border: ms(-3) solid white;
    border-top: none;
    &:hover {
      background: $secondary;
    }
  }
  #next, #previous {
    a {
      position: fixed;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1em;
      background: $primary;
      color: transparent;
      white-space: nowrap;
      text-indent: 100%;
      opacity: 0;
      &:hover {
        background: $secondary;
        opacity: 1;
        width: 1.5em;
      }
      &:before {
        content: " ";
        @include triangle(#fff, 1em, .5em, 90);
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        left: 0;
      }
    }
  }
  #previous a {
    left: 0;
    &:before {
      content: " ";
      @include triangle(#fff, 1em, .5em, 270);
      right: 0;
      left: auto;
    }
  }
}