h1 {
  font-family: $acta;
  font-size: ms(1.5);
  line-height: 1;
  font-style: italic;
  font-weight: 800;
  @include breakpoint(ms(7)) {
    font-size: ms(2);
  }
  @include breakpoint(ms(8), $no-query: '.no-mqs') {
    font-size: ms(2.5);
  }
}
