    <nav>
      <ul>
        <li id="home"><a href="/">home</a></li>

        <% if current_article.previous_article %>
          <li id="newer"><a href="<%= current_article.previous_article.url %>"><%= current_article.previous_article.title %></a></li>
        <% end %>
        <% if current_article.next_article %>
          <li id="older"><a href="<%= current_article.next_article.url %>"><%= current_article.next_article.title %></a></li>
        <% end %>

      </ul>
    </nav>
  </body>
</html>
