    <footer>
      <ul class="social">
        <li><a href="/feed.xml">Rss</a></li>
        <li><a href="https://twitter.com/scottkellum">Twitter</a></li>
        <li><a href="https://github.com/scottkellum">Github</a></li>
        <li><a href="http://dribbble.com/ScottKellum">Dribbble</a></li>
        <li><a href="mailto:scott@scottkellum.com">Email</a></li>
      </ul>
    </footer>
