    <nav>
      <ul>
        <li id="home"><a href="/">home</a></li>
         <% if current_article.previous_article %>
          <li id="previous"><a href="<%= current_article.previous_article.url %>"><%= current_article.previous_article.title %></a></li>
        <% end %>
        <% if current_article.next_article %>
          <li id="next"><a href="<%= current_article.next_article.url %>"><%= current_article.next_article.title %></a></li>
        <% end %>
      </ul>
    </nav>
    <footer>
      <ul class="social">
        <li><a href="/feed.xml">Rss</a></li>
        <li><a href="https://twitter.com/scottkellum">Twitter</a></li>
        <li><a href="https://www.facebook.com/scott.kellum">Facebook</a></li>
        <li><a href="mailto:scott@scottkellum.com">Email</a></li>
      </ul>
    </footer>
  </body>
</html>
