<footer>
  <ul class="social">
    <li><a href="https://twitter.com/scottkellum">Twitter</a></li>
    <li><a href="https://github.com/scottkellum">Github</a></li>
    <li><a href="mailto:scott@scottkellum.com">Email</a></li>
  </ul>
</footer>

<nav>
  <a href="/">Home</a>
  <a href="/portfolio/index.html">Portfolio</a>
  <a href="/resume.html">Resumé</a>
</nav>