<footer>
  <ul class="social">
    <li><a href="https://twitter.com/scottkellum">Twitter</a></li>
    <li><a href="https://github.com/scottkellum">Github</a></li>
    <li><a href="mailto:scott@scottkellum.com">Email</a></li>
  </ul>
</footer>

<button class="nav-toggle" id="navToggle" onclick="this.classList.toggle('active')">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <rect x="0" y="0" width="16" height="2" />
    <rect x="0" y="7" width="16" height="2" />
    <rect x="0" y="14" width="16" height="2" />
    <polygon id="close" points="16 2 14 0 8 6 2 0 0 2 6 8 0 14 2 16 8 10 14 16 16 14 10 8 16 2"/>
  </svg>
</button>
<nav>
  <a href="/">Home</a>
  <a>Portfolio</a>
  <a href="/about.html">About me</a>
</nav>