<footer>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about-me.html">About me</a></li>
    <li><a href="/colophon.html">Colophon</a></li>
    <li><a href="https://github.com/scottkellum/scottkellum.com">View source</a></li>
  </ul>
  <ul class="social">
    <li><a href="https://twitter.com/scottkellum">Twitter</a></li>
    <li><a href="https://github.com/scottkellum">Github</a></li>
    <li><a href="http://dribbble.com/ScottKellum">Dribbble</a></li>
    <li><a href="https://www.facebook.com/scott.kellum">Facebook</a></li>
    <li><a href="/feed.xml">Rss</a></li>
    <li><a href="mailto:scott@scottkellum.com">Email</a></li>
  </ul>
</footer>
