<!doctype html>
<!--











Looking for this?
https://github.com/scottkellum/scottkellum.com/











-->
<!--[if lt IE 9 ]> <html class="ie ltie9 no-js no-mqs" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title><%= data.page.title || "Scott Kellum" %></title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/webclip-icon.png" />

    <%= stylesheet_link_tag "style" %>
    <!-- <%= javascript_include_tag  "main" %> -->

    <!-- WEBTYPE -->
    <link href="//cloud.webtype.com/css/5fd75aea-fa83-43ad-8fb7-509ad91b9cd7.css" rel="stylesheet" type="text/css" />

    <!-- TYPEKIT -->
    <script type="text/javascript" src="//use.typekit.net/qfs2thr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- FLATTR -->
    <script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        var s = document.createElement('script');
        var t = document.getElementsByTagName('script')[0];

        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

        t.parentNode.insertBefore(s, t);
     })();
    /* ]]> */
    </script>

  </head>
  <body>