<!doctype html>
<html lang="en">
  <head>
    <title><%= data.page.title || "Scott Kellum" %></title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />

    <%= stylesheet_link_tag "style" %>
    <link rel="preload" href="http://cloud.typenetwork.com/licenseWeb/13166/fontfile/woff2/" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="http://cloud.typenetwork.com/licenseWeb/13162/fontfile/woff2/" as="font" type="font/woff2" crossorigin>
    <link href="//cloud.typenetwork.com/projects/854/fontface.css/" rel="stylesheet" type="text/css">

  </head>