<!doctype html>

<!-- Looking for this? https://github.com/scottkellum/scottkellum.com/tree/master/source -->

<!--[if lt IE 9 ]> <html class="ie ltie9 no-js no-mqs" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title><%= data.page.title || "Scott Kellum" %></title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "style" %>
    <!-- <%= javascript_include_tag  "main" %> -->

    <script type="text/javascript" src="//use.typekit.net/qfs2thr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>