$color: #86cbbd;
$background: white;

@import "../lib/feature";

body, .lede, footer, .lede p:first-child:first-letter {
	background-image: url('/images/editorial/compass-background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	@include background-size(100% 100%);
}
.lede p:first-child:first-letter, footer {
	background-image: url('/images/editorial/compass-lede.png');
}

header {
	text-shadow: 0 0 .5em darken($color, 20%);
	letter-spacing: .1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	@include background-size(100% 100%);
	@include breakpoint(ms(7)) {
		.dek {
			text-transform: uppercase;
			font-size: 2em;
			letter-spacing: .25em;
		}
	}
}

// iOS shit to take care of
@media (max-width: 1025px) {
	body, .lede, header, .lede p:first-child:first-letter {
		@include background-size(cover);
		background-attachment: scroll;
	}
	body, .lede, .lede p:first-child:first-letter {
		background-image: none;
	}
}

.insp img {
	margin-top: 30%;
}

@include breakpoint(max-width ms(8.5)) {
	img {
		margin: ms(1) 20%;
		width: 60%;
	}
}