@font-face {
	font-family: 'Gamay web';
	src: url('/assets/fonts/Gamay.woff2') format('woff2');
	font-weight: 100 900;
	font-stretch: 60 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gamay web';
	src: url('/assets/fonts/Gamay-Italic.woff2') format('woff2');
	font-weight: 100 900;
	font-stretch: 60 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Sentient web';
	src: url('/assets/fonts/Sentient.woff2') format('woff2');
	font-weight: 200 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sentient web';
	src: url('/assets/fonts/Sentient-Italic.woff2') format('woff2');
	font-weight: 200 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Arnold web';
	src: url('/assets/fonts/arnold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Arnold web';
	src: url('/assets/fonts/arnold-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Reset */

* {
	font: inherit;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
	scroll-margin-top: 3rem;
	font-size-adjust: from-font;
}

/* Styles */

html {
	--foreground: #142226;
	--background: #fff;

	--primary: #d32c07;
	--primary-dark: #691300;
	--accent: #fcf9f7;
	--accent-dark: #ffebe6;

	--action-light: #ffad82;
	--action-dark: #943600;
	--action-neutral: #f5540f;
	--action: var(--action-dark);
	--warning: #ba0d04;
	--pink: #E01C82;
	--blue: #0FA1CF;

	--blend: multiply;

	--width: 50rem;
	--margin: calc((100vw - min(var(--width), 90vw)) / 2);

	--speed: 0.2s;

	--font: 'Sentient web', serif;
	--display: 'Gamay web', var(--font);
	--mono: 'Arnold web', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, monospace;

	font-family: var(--font);
	color: var(--foreground);
	background-color: var(--accent);
	margin: 0;
	padding: 0;
	font-size: 125%;
	line-height: 1.5;
	animation-name: html;
	animation-timing-function: cubic-bezier(0,0.7,0.3,1);
	interpolate-size: allow-keywords;
	--to: 50em;
}
@keyframes html {
	0% {
		font-size: 0px;
	}
	100% {
		font-size: 125%;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		--foreground: #fff;
		--background: #371506;
	
		--primary: #ffd5ce;
		--primary-dark: #f7e4e2;
		--accent: #000000;
		--accent-dark: #522200;
	
		--action: var(--action-light);

		--blend: screen;
		font-weight: 300;
	}
}

/* Typetura elements */

.page-head,
.head,
.sub-head,
.prose h2,
.prose h3 {
	--tt: var(--on);
}

/* LAYOUT */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr min(var(--width), 90%) 1fr;
	grid-template-rows: 1fr 1rem 1rem min-content min-content;
	container-type: inline-size;
	grid-template-areas:
		"lede lede lede"
		"nav nav nav"
		"nav nav nav"
		"main main main"
		"callout callout callout"
		"footer footer footer";
}
.lede   { grid-area: lede }
.nav    { grid-area: nav }
.main   { grid-area: main; padding-block: 2rem; }
@media (min-width: 40em) { .main { padding-block: 4rem; } }
.footer { grid-area: footer }

.wrapper {
	display: grid;
	grid-template-columns: subgrid;
}
.content {
	grid-column: 2 / 3;
	width: 100%;
}

/* TYPOGRAPHY */

p {
	margin-block: 0.67em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 0;
	line-height: 1.1;
	font-weight: 700;
	text-wrap: balance;
	font-family: var(--display);
}

strong {
	font-weight: 700;
	color: var(--primary-dark);
}
em {
	font-style: italic;
}

.lede > .content {
	margin: auto;
	padding-block: 2em calc(2em + 1rem);
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: var(--primary-dark);
	text-wrap: balance;
	font-size: 1.4rem;
	animation-name: lede-content;
	animation-timing-function: linear;
	--to: 54rem;
}
@keyframes lede-content {
	0% {
		font-size: 1.1rem;
	}
	100% {
		font-size: 1.5rem;
	}
}

.main > .content :not(div, iframe) {
	margin-inline: auto;
	max-width: 30rem;
}

.page-head {
	font-family: var(--font);
	margin-block: 0;
	font-size: 4rem;
	font-stretch: 75%;
	mix-blend-mode: var(--blend);
	transition: color var(--speed) ease-in-out;
	animation-timing-function: cubic-bezier(0.3,0,0.8,1);
	animation-name: page-head;
}
@keyframes page-head {
	0% {
		font-size: 2rem;
	}
	100% {
		font-size: 6rem;
	}
}

.head {
	margin-block: 0;
	font-size: 2rem;
	font-stretch: 75%;
	color: var(--primary);
	mix-blend-mode: var(--blend);
	transition: color var(--speed) ease-in-out;
	animation-timing-function: cubic-bezier(0.3,0,0.8,1);
	animation-name: heading;
}
@keyframes heading {
	0% {
		font-size: 1.5rem;
	}
	100% {
		font-size: 3rem;
	}
}

.sub-head {
	margin-block: 1em 0.5rem;
	font-size: 1.33rem;
	font-stretch: 85%;
	color: var(--primary-dark);
	mix-blend-mode: var(--blend);
	transition: color var(--speed) ease-in-out;
	animation-timing-function: cubic-bezier(0.3,0,0.8,1);
	animation-name: sub-head;
}
@keyframes sub-head {
	0% {
		font-size: 1rem;
	}
	100% {
		font-size: 1.5rem;
	}
}

.eyebrow {
	font-size: 0.8rem;
	font-family: var(--dispaly);
	font-weight: 500;
	font-stretch: expanded;
	color: var(--warning);
}

iframe[src^="https://www.youtube"] {
	width: 100%;
	aspect-ratio: 16 / 9;
}

code {
	font-family: var(--font);
	tab-size: 2;
}

.hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	margin-inline-start: -100%;
}

a {
	color: inherit;
	text-decoration-thickness: 0.11em;
	text-underline-offset: 0.1em;
	text-decoration-style: dotted;
	text-decoration-color: var(--action-neutral) !important;
	text-decoration-thickness: 0.11em !important;
	text-underline-offset: 0.1em !important;
}

a:hover {
	text-decoration-style: solid;
}

:focus {
	outline: 2px solid var(--action-neutral) !important;
	outline-offset: 0.25rem;
	border-radius: 0.1px;
	position: relative;
}
:focus::before {
	content: '';
	position: absolute;
	top: -0.5rem;
	left: -0.5rem;
	right: -0.5rem;
	bottom: -0.5rem;
	background-color: var(--action-neutral);
	border-radius: 0.5rem;
	z-index: -1;
	opacity: 0.1;
}

/* PROSE */

sup {
	font: inherit;
	vertical-align: baseline;
	font-variant-position: super;
}
sub {
	font: inherit;
	vertical-align: baseline;
	font-variant-position: sub;
}
abbr {
	text-decoration-color: var(--action-neutral);
	cursor: help;
}
em {
	font-style: italic;
}
mark {
	background-color: var(--action);
	border-radius: 0.2rem;
	outline: 2px solid var(--action);
	color: var(--background);
}

hr {
	margin-inline: 50% 0;
	margin-block: 2rem;
	transform: translateX(-50%);
	width: 100%;
	width: 100cqi;
	height: 1px;
	background-color: var(--accent-dark);
	border: none;
}

.main .cta,
.cta-group {
	font-family: var(--gamay);
	color: var(--action);
	font-size: 1.25rem;
	font-weight: 500;
	display: block;
	text-align: center;
	margin-inline: auto;
	width: fit-content;
}
.cta-group {
	display: flex;
	gap: 1rem;
}

.prose img,
.prose pre,
.prose video,
.prose iframe {
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: #000 !important;
	margin-inline: 0.5px;
	outline: 1px solid var(--accent-dark);
	width: calc(100% - 1px);
	box-sizing: border-box;
}
.prose img {
	background-color: transparent !important;
}
.prose code {
	margin-block-start: 1rem;
	font-size: 0.9rem;
}
.prose :not(pre) code {
	background-color: var(--background);
	border-radius: 0.2rem;
	outline: 2px solid var(--background);
	color: var(--action);
}
.prose pre {
	padding: 0.5rem;
	font-family: var(--font);
	font-size: 0.8rem;
}
.prose img {
	height: auto;
}

.prose h2,
.prose h3 {
	--tt-max: 30rem;
	--tt-ease: ease-in-out;
}

.prose h2 {
	color: var(--primary-dark);
	font-stretch: 80%;
	font-size: 3rem;
	margin-block: 1em 1rem;
	padding-block-start: 1em;
	position: relative;
	animation-name: prose-h2;
}
@keyframes prose-h2 {
	0% {
		font-size: 1.2rem;
	}
	100% {
		font-size: 3rem;
	}
}
.prose h2::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	width: 100cqi;
	height: 1px;
	background-color: var(--accent-dark);
}
.prose h3 {
	font-family: var(--display);
	color: var(--primary-dark);
	font-size: 1.5rem;
	margin-block: 1em 1rem;
	letter-spacing: 0.05em;
	animation-name: prose-h3;
}
@keyframes prose-h3 {
	0% {
		font-size: 1.1rem;
	}
	100% {
		font-size: 1.5rem;
	}
}
.prose h4,
.prose h5,
.prose h6 {
	font-family: var(--display);
	color: var(--primary-dark);
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-block: 1rem;
}

.prose p,
.prose li,
.prose blockquote,
.prose table {
	font-variation-settings: 'opsz' 10;
}

.prose ul,
.prose ol {
	font-size: 0.9rem;
	margin-block: 1rem;
	padding-inline-start: 1em;
}
@media (min-width: 40em) {
	.prose ul,
	.prose ol {
		padding: 0;
	}
	.prose ol ol, .prose ul ul, .prose ol ul, .prose ul ol {
		padding-inline-start: 1em;
		margin-block: 0;
	}
}

.prose li {
	margin-block: 0.25em;
}

.prose li::marker {
	color: var(--action);
}

.prose blockquote {
	border-left: 1px solid var(--accent-dark);
	padding-inline: 1rem;
	margin-block: 1rem;
	font-style: normal;
	font-variation-settings: 'slnt' -8, 'opsz' 10;
}
.prose blockquote * {
	font-variation-settings: inherit;
}

.prose a {
	color: var(--action);
}

.prose cite {
	font-family: var(--font);
	font-style: normal;
	font-variation-settings: 'slnt' -8, 'opsz' 10;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.prose cite a {
	text-decoration: none;
}
.prose cite a:hover {
	color: var(--action);
	text-decoration: underline;
}

.prose p em,
.prose li em,
.prose blockquote em,
.prose table em {
	font-variation-settings: 'slnt' -8, 'opsz' 10;
}

.prose img + em {
	font-family: var(--font);
	display: block;
	font-size: 0.7rem;
	font-style: italic;
	margin-block: 0.25rem 1rem;
	color: var(--primary-dark);
}

.prose .cta {
	display: block;
	margin-block: 2rem;
	color: var(--action);
	font-family: var(--dispaly);
	text-align: center;
	font-weight: 500;
	font-size: 1.2rem;
	text-wrap: balance;
}

.prose .img-group {
	display: flex;
	gap: 0.5rem;
	margin-block: 2rem;
}
.prose .img-group img {
	flex: 1;
}

/* Bento box */

.bento {
	display: flex;
	gap: 1rem;
	margin-inline: calc(-1rem);
}
.bento .box {
	flex: 1;
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	justify-content: top;
	position: relative;
	margin-block: 1rem;
	z-index: 0;
	border: 1px solid var(--accent-dark);
	border-radius: 0.25rem;
	padding: 0 1rem 1rem;
	backdrop-filter: blur(1rem);
	text-align: center;
	line-height: 1;
}
.bento .box::before,
.bento .box::after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	inset: 0;
}
.bento .box::before {
	background-color: var(--background);
	opacity: 0.5;
	border-radius: 0.25rem;
}
.bento .box::after {
	inset-inline: calc(1rem - 0.5px);
	outline: 1px dashed var(--accent-dark);
}

.bento .value {
	font-size: 50cqi;
	font-weight: 400;
	color: transparent;
	background-image: linear-gradient(var(--primary-dark), var(--primary));
	-webkit-background-clip: text;
	background-clip: text;
	font-family: var(--display);
	font-stretch: 60%;
}
.bento .label {
	font-size: 0.8rem;
	color: var(--action);
	font-weight: 500;
}
@media (max-width: 600px) {
	.bento .bento {
		grid-template-columns: 1fr;
	}
}
