html {
  --gutter: min(2rem, 5vw);
  --column-height: 60vh;
  --page-height: 90vh;
  --primary: hsl(169, 95%, 25%);
  --foreground: #000;
  --background: #f4f2ee;
  --background-alt: hsl(0 0 100% / 0.5);

  --gradient-stops: hsl(210 100% 80% / 1), hsl(30 100% 80% / 0);
  --blend: multiply;

  --font-text: "Bennet Text", system-ui;
  --font-display: "Bennet Banner", system-ui;
  --font-meta: "IvyEpic", system-ui;
  --mono:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  font-family: var(--font-text);
  line-height: 1.35;
  color: var(--foreground);
  background-color: var(--background);
  scrollbar-color: var(--primary) var(--background);
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-marker-group: before;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  text-wrap: pretty;
}
@media (prefers-color-scheme: dark) {
  html {
    --primary: hsl(43, 84%, 50%);
    --foreground: #fff;
    --background: #000;
    --background-alt: hsl(0 0 100% / 0.1);
    --blend: screen;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --gradient-stops: hsl(190 60% 30% / 1), hsl(30 100% 80% / 0);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration-color: color-mix(var(--primary), transparent);
  transition: text-decoration-color 0.2s ease-in-out;
  text-underline-offset: 0.15em;
}
a:hover,
a:focus {
  text-decoration-color: var(--primary);
}

/* Orient the page flow direction as horizontal */
html {
  writing-mode: sideways-lr;
}
body {
  overflow-y: hidden;
}
body > * {
  writing-mode: horizontal-tb;
}

/* Scroll markers */

::scroll-marker-group {
  writing-mode: horizontal-tb;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  gap: min(0.33rem, 1vw);
  z-index: 9;
  padding: 0.5rem;
  height: 1rem;
}
hgroup::scroll-marker,
section::scroll-marker,
.cols::column::scroll-marker {
  font-size: min(0.5rem, 2vw);
  color: inherit;
  background: color-mix(in srgb, var(--foreground) 40%, transparent 60%);
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
  border-radius: 9em;
  transition: all 0.2s ease-in-out;
  outline: 1px solid color-mix(in srgb, var(--background) 33%, transparent 67%);
}
::column::scroll-marker:hover,
::scroll-marker:hover {
  width: 1.5em;
  height: 1.5em;
}
::column::scroll-marker:target-current:hover,
::scroll-marker:target-current:hover {
  width: 3.5em;
}
::column::scroll-marker:target-current,
::scroll-marker:target-current {
  width: 2.5em;
  background: color-mix(in srgb, var(--foreground) 75%, transparent 25%);
}

/* Scroll buttons */
html::scroll-button(*) {
  writing-mode: horizontal-tb;
  position: fixed;
  background: none;
  margin: 0;
  padding: 0;
  padding-block: 0.2em 0.6em;
  right: var(--gutter);
  bottom: 0;
  border: 0;
  cursor: pointer;
  z-index: 9;
  font-family: inherit;
  font-size: 0.7rem;
  font-family: var(--font-meta);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  mix-blend-mode: difference;
  transition: opacity 0.3s ease-in-out;
}

html::scroll-button(*):hover,
html::scroll-button(*):focus {
  text-decoration: underline;
}

html::scroll-button(*):disabled {
  opacity: 0;
  cursor: unset;
}

html::scroll-button(left) {
  content: "Previous";
  left: var(--gutter);
  right: auto;
}

html::scroll-button(right) {
  content: "Next";
}

::selection {
  background: color-mix(in hsl, transparent, var(--primary));
}
