@font-face {
  font-family: "Arnold";
  src: url("/assets/fonts/arnold-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arnold";
  src: url("/assets/fonts/arnold-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nostrav";
  src: url("/assets/fonts/nostrav-sett.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Nostrav";
  src: url("/assets/fonts/nostrav-stream.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

html {
  --font: "Arnold", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-display: "Nostrav", var(--font);
  --blend: multiply;

  --background: #ffefea;
  --background-alt: #ffffff;
  --text: #43220f;
  --primary: #bd2e0e;

  font-family: "Arnold";
  font-size: 115%;
  line-height: 1.5;
  accent-color: var(--primary);

  animation: 1s cubic-bezier(0, 0.5, 0.5, 1) calc(-1s * var(--bind, 600) / 600)
    1 both paused html;
}
@keyframes html {
  0% {
    font-size: 0;
  }
}

body {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: var(--primary);
}

p {
  margin-block: 1em;
}

:focus {
  border-radius: 0.1px;
	outline: 0.25rem solid var(--primary);
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}
