@font-face {
  font-family: "Arnold";
  src: url("/assets/fonts/arnold-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Arnold";
  src: url("/assets/fonts/arnold-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nostrav";
  src: url("/assets/fonts/nostrav-sett.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Nostrav";
  src: url("/assets/fonts/nostrav-stream.woff2") format("woff2");
  font-weight: 200;
}

html {
  --font: "Arnold", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-display: "Nostrav", var(--font);
  --blend: multiply;

  --background: #ffefea;
  --background-alt: #ffffff;
  --text: #43220f;
  --primary: #ff6c4b;

  font-family: "Arnold";
  font-size: 125%;
  line-height: 1.5;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: var(--primary);
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}
