.profile-img {
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: $primary;
  border: ms(-4) solid $primary;
  border-radius: 50%;
  overflow: hidden;
  max-width: 300px;
}