$thmb-size: 20vw;
$timing: cubic-bezier(.5, 0, .5, 1.5);

$nav-width: 10rem;

#portfolio {
  nav {
    @media (min-width: 55em) {
      width: $nav-width;
      box-sizing: border-box;
      background-color: darken($primary, 10%);
      color: #fff;
    }
  }
  #portfolio-nav {
    top: 6.5rem;
    bottom: 0;
    background-color: $primary;
    font-size: .8em;
    @media (max-width: 55em) {
      display: none;
    }
  }
  footer {
    display: none;
  }
  section {
    padding: 0;
  }
  article {
    padding: calc(1em + 2vw) calc(1em + 2vw) calc(1em + 5vw);
    @media (min-width: 55em) {
      margin-left: $nav-width;
    }
  }
}