$thmb-size: 20vw;
$timing: cubic-bezier(.5, 0, .5, 1.5);

$nav-width: 10rem;

#portfolio {
  nav {
    @media (min-width: 55em) {
      width: $nav-width;
      box-sizing: border-box;
      background-color: darken($primary, 10%);
      color: #fff;
    }
  }
  #portfolio-nav {
    top: 6.5rem;
    bottom: 0;
    background-color: $primary;
    font-size: .8em;
    padding: 1rem 0;
    a {
      padding: 0 1rem;
      transition: background .25s ease-in-out;
    }
    a:hover {
      background: darken($primary, 10%);
    }
    @media (max-width: 55em) {
      display: none;
    }
  }
  footer {
    display: none;
  }
  section {
    padding: 0 0 5vh;
    clear: both;
    background: none;
    transform-style: preserve-3d;
    pointer-events: none;
  }
  a,
  .phone,
  .scroller,
  .window {
    pointer-events: all;
  }
  article {
    padding: calc(1em + 2vw) calc(1em + 2vw) calc(1em + 5vw);
    perspective: 100vh;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    max-width: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    @media (min-width: 55em) {
      left: $nav-width;
    }
  }
  .phone {
    background-color: rgba(darken($primary, 10%),.3);
    padding: 4% 1%;
    border-radius: 1vh;
    max-width: 250px;
    transform: rotate3d(2,1,-1,22.5deg) translateY(-10%);
    transition: transform .25s $timing;
    margin: 1vh auto;
    video {
      width: 100%;
      height: percentage(670/320);
      border-radius: 4px;
      overflow: hidden;
    }
    @media (min-width: 55em) {
      margin: 1vh 1em 1vh 0;
      float: left;
      transform: rotate3d(.06,.4,-.06,22.5deg);
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  img.perspective {
    position: relative;
    left: 50%;
    width: 175%;
    transform: translateX(-50%) rotateX(22.5deg);
  }
  .scroller,
  .window {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 0;
    padding-bottom: 67%;
    overflow: hidden;
    transform: rotate3d(2,1,-1,22.5deg) translateY(-10%) scale(.8);
    border: 4px solid rgba(darken($primary, 10%),.3);
    border-top-width: 16px;
    border-radius: 4px;
    &.animate img {
      animation: 30s scroller infinite ease;
    }
    img,
    video {
      border-radius: 3px;
      width: 100%;
    }
  }
  .window {
    height: auto;
    padding: 0;
  }
  .athena {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: percentage(960/640);
    @media (min-width: 659px) {
      padding-bottom: percentage(590/1060);
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes scroller {
  80% {
    transform: translateY(-86%);
  }
  95% {
    transform: none;
  }
}