#project{
  article {
    max-width: none;
    padding: 0;
  }
  header {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      display: block;
    }
    svg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  svg .stroke {
    stroke: #fff;
    stroke-width: 10px;
    fill: none;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
    animation: stroke 2s ease-in-out;
  }
  svg .fill {
    fill: #00CBC8;
  }
  @keyframes stroke {
    from {
      stroke-dashoffset: 800;
      transform: translateY(20%);
    }
  }
}