---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
// import BlogHeader from '../components/BlogHeader.astro';
// import BlogPostPreview from '../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
	publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Scott Kellum';
let description = 'Founder, inventor, product designer, typographer, teacher, speaker, and photographer';
let permalink = 'https://scottkellum.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<main class="content">
			<article>
				Hello
				<h1>World!</h1>
			</article>
		</main>
	</body>
</html>
