---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Filmstrip from '../components/Filmstrip.astro';

let title = 'Scott Kellum';
let description = 'Founder, inventor, product designer, typographer, teacher, speaker, and photographer';
let permalink = 'https://scottkellum.com/';
---

<html lang="en">
	<head>
		<BaseHead />
		<style global>
			:root {
        background: #1A1512;
        animation: 1s var(--tt-ease, linear) calc(-1s * var(--tt-bind, 500) / var(--tt-max, 1000)) 1 both paused var(--tt-key, none);
        scroll-snap-type: y mandatory;
        --tt-key: photos-html;
        --tt-max: 1000;
        --tt-ease: cubic-bezier(0,0,0.67,1);
			}
      @keyframes photos-html {
        0% {
          font-size: 0%;
        }
      }
      a.home {
        text-decoration: none;
        position: fixed;
        top: 0;
        right: 2rem;
        mix-blend-mode: screen;
        writing-mode: vertical-lr;
        z-index: 9;
        letter-spacing: 0.1em;
        color: #FF6C4B;
      }
      a.home svg {
        width: 1.6rem;
        height: 3rem;
      }
      .filmstrip {
        scroll-snap-align: start;
        scroll-margin-block-start: 2vh;
      }
		</style>
		<script>
			function resize() {
					document.documentElement.style.setProperty("--tt-bind", window.innerWidth)
			} resize(); window.onresize = resize;
		</script>
	</head>

	<body>
    <a href="/" class="home">
      <svg width="30" height="60" viewBox="0 0 30 60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g style="mix-blend-mode:screen">
      <path d="M14.8662 -8L27.7407 14.2993H1.99169L14.8662 -8Z" fill="currentColor"/>
      <path d="M14.8662 29.7323L27.7407 52.0316L1.99169 52.0316L14.8662 29.7323Z" fill="currentColor"/>
      </g>
      </svg>
      HOME
    </a>
		<main>
	      <Filmstrip />
		</main>
	</body>
</html>
