<section class="project" onClick="expand(this);">
  <img src="http://lorempixel.com/200/200/" alt=" " class="thumbnail">
  <h1>MMA Fighting Recap</h1>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium aspernatur assumenda id voluptas atque laboriosam maxime provident ab ad quos tenetur, sequi reiciendis quia asperiores, quae fugit, nesciunt iste nulla?</p>
  </div>
</section>
<section class="project" onClick="expand(this);">
  <img src="http://lorempixel.com/200/200/" alt=" " class="thumbnail">
  <h1>MMA Fighting Recap</h1>
  <div class="content">
    <p>stuff</p>
  </div>
</section>
<section class="project" onClick="expand(this);">
  <img src="http://lorempixel.com/200/200/" alt=" " class="thumbnail">
  <h1>MMA Fighting Recap</h1>
  <div class="content">
    <p>stuff</p>
  </div>
</section>
<section class="project" onClick="expand(this);">
  <img src="http://lorempixel.com/200/200/" alt=" " class="thumbnail">
  <h1>MMA Fighting Recap</h1>
  <div class="content">
    <p>stuff</p>
  </div>
</section>
<section class="project" onClick="expand(this);">
  <img src="http://lorempixel.com/200/200/" alt=" " class="thumbnail">
  <h1>MMA Fighting Recap</h1>
  <div class="content">
    <p>stuff</p>
  </div>
</section>
