<section id="intro">
	<div class="info">
		<h1>Portfolio</h1>
		<p>I am a designer at <a href="http://www.voxmedia.com/">VOX Media</a> creating beautiful features for <a href="http://theverge.com">The Verge</a> as well as having worked on <a href="http://www.sbnation.com/">SB Nation</a> and <a href="http://www.polygon.com/">Polygon</a>. With a classical graphic design background and passion for code, I am particularly interested in the areas where design and development meet and have worked on numerous Compass plugins like <a href="https://github.com/Team-Sass/modular-scale">Modular Scale</a>, <a href="https://github.com/Team-Sass/singularity">Singularity</a>, <a href="https://github.com/Team-Sass/color-schemer">Color Schemer</a>, and <a href="https://github.com/Team-Sass/toolkit">Toolkit</a> to help solve design problems in code. I have previously worked at <a href="http://treesaver.net/">Treesaver</a> creating rich magazine-like experiences for the web and <a href="http://dardenstudio.com/">Darden Studio</a> drawing typefaces.</p>
	</div>
</section>

<section id="space-crowdfunding">
	<div class="info">
		<h1><a href="http://www.theverge.com/2013/1/31/3929342/the-stars-on-a-shoestring-amateurs-ignite-grassroots-space-race">Space Crowdfunding</a></h1>
		<p>A comprehensive look at the future of space exploration drew parallels to a sci-fi attitude of the past. Drawing inspiration from a bright eyed and optimistic time was the predominate influence for this feature.</p>
	</div>
	<div class="images">
		<img class="screenshot" src="/images/portfolio/space-lede.jpg">
		<p class="caption">To draw the reader in we used classic sci-fi illustrations paired with Futura Bold Condensed as the type to give it a retro feel.</p>

		<img class="screenshot" src="/images/portfolio/space-detail.jpg">

		<img class="screenshot" src="/images/portfolio/space-background.jpg">
		<p class="caption">The background was a star field pattern that, as you scrolled through the piece, would give the reader the feeling of leaving earths atmosphere and entering space. It used the <a href="http://www.sitepoint.com/the-cicada-principle-and-why-it-matters-to-web-designers/">cicada principle</a> to make it feel a bit more random.</p>
	</div>
</section>



<section id="for-amusement-only">
	<div class="info">
		<h1><a href="http://www.theverge.com/2013/1/16/3740422/the-life-and-death-of-the-american-arcade-for-amusement-only">For Amusement Only</a></h1>
		<p>This piece on arcades was one of the earlier editorial features I worked on at The Verge but it pushed many things forward that we later reused on future works.</p>
	</div>
	<div class="images">
		<img class="screenshot" src="/images/portfolio/arcade-lede.jpg">
		<p class="caption">Custom lead treatment made to give a nostalgic feeling of a past era.</p>

		<img class="screenshot" src="/images/portfolio/arcade-parallax.gif">
		<p class="caption">I pioneered the use of background attachment as a parallax device in this piece. It is a cheap and efficient way to get a really slick parallax effect and can now be found in editorial designs across the web.</p>

		<img class="screenshot" src="/images/portfolio/arcade-detail-1.jpg">

		<img class="screenshot" src="/images/portfolio/arcade-detail-2.jpg">
		<p class="caption">Effects reminiscent of printing techniques can be found throughout the piece including images and headings.</p>

	</div>
</section>






<ul class="portfolio-nav" role="nav">
	<li class="editorial"><a href="#for-amusement-only">For Amusement Only</a></li>
	<li class="editorial"><a href="#space-crowdfunding">Space Crowdfunding</a></li>
</ul>