<section class="project" id="modularscale">
  <h1>Modular Scale</h1>
  <div class="phone">
    <video src="/images/portfolio/modularscale.mp4" loop autoplay muted></video>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>

<section class="project" id="athena">
  <h1>Athena ad products</h1>
  <img src="/images/portfolio/athena.png" alt="array of Athena ad products" class="perspective">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <div class="athena">
    <iframe src="/images/portfolio/athena-touchpoint.html" frameborder="0"></iframe>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>

<section class="project" id="vox">
  <h1>Vox.com</h1>
  <img src="/images/portfolio/vox.png" alt="Collection of vox.com screenshots" class="perspective">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <div class="window">
    <video src="/images/portfolio/vox-cardstacks.mp4" loop autoplay muted></video>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>

<section class="project" id="editorial">
  <h1>Verge editorial design</h1>
  <div class="scroller">
    <img src="/images/portfolio/verge-war-inside.png" alt=" ">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <div class="scroller">
    <img src="/images/portfolio/verge-bts.png" alt=" ">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>

<section class="project" id="mma">
  <h1>MMA live</h1>
  <div class="phone">
    <video src="/images/portfolio/mma.mp4" loop autoplay muted></video>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>

<section class="project" id="breanded">
  <h1>Branded content</h1>
  <div class="scroller">
    <img src="/images/portfolio/branded.png" alt=" ">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>

<section class="project" id="type">
  <h1>Type and lettering</h1>
  <img src="/images/portfolio/type.png" alt="Collection of vox.com screenshots" class="perspective">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi veniam quo ut commodi, praesentium unde, placeat aperiam rem sunt soluta sapiente, eum aliquid. A qui fuga consectetur autem architecto odit.</p>
</section>