---
layout: "layout/_portfolio"
---

<section class="editorial web editorial">
	<div class="info">
		<h1>The Verge Back to School Buying Guide</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, animi, labore excepturi natus quam numquam nam ad sed aperiam earum. Explicabo, placeat tempore expedita perspiciatis quam consequuntur sunt cum eligendi.</p>
	</div>
	<div class="images">
		<img src="/images/portfolio/sbnation.png">
		<img src="/images/portfolio/website.png">
	</div>
</section>