<section class="project" id="modularscale">
  <h1>Modular Scale</h1>
  <div class="phone">
    <video src="/images/portfolio/modularscale.mp4" poster="/images/portfolio/modularscale.png" loop autoplay muted></video>
  </div>
  <p>In 2010 <a href="https://twitter.com/nicewebtype">Tim Brown</a> released a calculator to help designers generate a list of meaningful values to use in their type sizing decisions. I gained interest in the project creating a <a href="https://github.com/modularscale/modularscale-sass/">Sass library</a> to generate values and later I got the opportunity to completely redesign and rebuild the website from the ground up. The goal in creating this tool is to help designers make more meaningful decisions so iteration involved community outreach and data gathering to understand how people were using the tool. I wanted there to be a more direct connection between inputs and outputs so I created a multi-panel tool that updates live based on given inputs to help the designer to visualize the values that are being generated. Additional features like multiple strands and target values were added to create more complex harmonies and clearer mental models. Check it out at <a href="http://www.modularscale.com/">modularscale.com</a>.</p>
</section>

<section class="project" id="athena">
  <h1>Athena ad products</h1>
  <img src="/images/portfolio/athena.png" alt="array of Athena ad products" class="perspective">
  <p>While I was working on the 2012 redesign of <a href="https://www.sbnation.com/">SB Nation</a> I was tasked with creating big glossy feature entries which looked great but the standardized units that we were using fell flat in out layouts. To solve this problem I experimented with a large and responsive but distinct unit that was able to meet the quality level of the content around it while still being distinctly an advertisement just like a full page ad in a magazine. This experiment later became the <a href="https://www.voxmedia.com/pages/advertising">Athena ad product</a> across Vox Media websites, <a href="http://concert.io/">Concert</a> partners, and numerous publishers have adopted similar formats across the web.</p>
  <div class="athena">
    <iframe src="/images/portfolio/athena-touchpoint.html" frameborder="0"></iframe>
  </div>
  <p>More recently I revamped the suite of Athena video products to create more immersive and intuitive experiences while also looking at other ways to engage audiences with interactivity in our advertisements. This work involves rapid prototyping and input from everyone from sales to ad executions teams to ensure that our ad products don’t just look cool, but can be created quickly and efficiently.</p>
</section>

<section class="project" id="vox">
  <h1>Vox.com</h1>
  <img src="/images/portfolio/vox.png" alt="Collection of vox.com screenshots" class="perspective">
  <p>Vox.com was launched as Vox Media’s premier hard news site in 2014. The site was launched after just nine weeks of rapid development on top of SB Nation’s codebase. To achieve this we took that scaffolding of SB Nation and scoped one new feature, card stacks, to have roughed out in a week long hackathon to kick off development. After that week, with scope locked down we had the focus to polish off the site easily within our launch window.</p>
  <div class="window">
    <video src="/images/portfolio/vox-cardstacks.mp4" loop autoplay muted></video>
  </div>
  <p>After launch we were able to set new goals and learn from the baseline we had put in place to launch on and were able to go deeper into specific areas we wanted to push boundaries on. With a growing number of card stacks we prototyped solutions on how to organize and search for explanatory content. We addressed the home page, what the roll of a home page is, what do people use it for, and <a href="https://product.voxmedia.com/2014/12/17/7405131/algorithmic-design-how-vox-picks-a-winning-layout-out-of-thousands">new ways to organize that content</a>. We worked closely with editorial teams to understand how they were using the tools we were giving them and tried to amplify their voice to resonate with new audiences through good product design.</p>
</section>

<section class="project" id="editorial">
  <h1>Verge editorial design</h1>
  <div class="scroller">
    <img src="/images/portfolio/verge-war-inside.png" alt=" ">
  </div>
  <p>On <a href="https://www.theverge.com/">The Verge</a> I worked closely with writers, editors, videographers, and photographers to help them tell their stories in an impactful way. I worked with these groups to understand the tone and creative direction of the pieces we were collaborating on. This work was largely about transporting people to a time, a place, or evoke some feeling or empathy towards characters in the stories. Stories about <a href="https://www.theverge.com/2013/9/24/4698382/second-lifes-strange-second-life">Second Life</a> to <a href="https://www.theverge.com/2013/1/16/3740422/the-life-and-death-of-the-american-arcade-for-amusement-only">arcades</a> to <a href="https://www.theverge.com/2013/6/4/4381890/carmen-tarleton-the-incredible-story-of-a-face-transplant">what it’s like to live with a face transplant</a>. These projects were all on fast timelines and required care and empathy to design and produce.</p>
  <div class="scroller">
    <img src="/images/portfolio/verge-bts.png" alt=" ">
  </div>
  <p>Some projects like gift guides around holidays come with plenty of heads up and we were able to create entirely custom experiences to make the most impact. On these projects I would work with an art director to plan photo shoots and stage shots to later take into the piece for user interaction. Interactive product maps or layered product shots to provide a parallax effect during navigation or hover were little details that added a huge amount of depth to what we were creating.</p>
</section>

<section class="project" id="mma">
  <h1>MMA live</h1>
  <div class="phone">
    <video src="/images/portfolio/mma.mp4" loop autoplay muted></video>
  </div>
  <p>This was an exploratory project on how might we create a live updating slideshow during a fight night, or get a quick recap after a fight. Taking this idea I designed and prototyped this experience to explore what a product like this might be like. I designed it with minimal text and an option of images to highlight key events in a sports match while providing context as to rounds and score. I wrote a custom swipe and pagination script to make transitions between key events smooth and elegant and I integrated places for sponsorship so that the experience can be monetized. Ultimately the project didn’t go anywhere but through iteration and prototyping we got a good grasp on how a product like this would behave and what it would be like to use if it were made.</p>
</section>

<section class="project" id="branded">
  <h1>Branded content</h1>
  <div class="scroller">
    <img src="/images/portfolio/branded.png" alt=" ">
  </div>
  <p>I helped kick off Vox Media’s branded content efforts, now <a href="https://www.voxmedia.com/pages/vox-creative">Vox Creative</a>, on a team that initially was put together to redesign article pages. The pressure here was where do we put branded content and how do we promote it in a way that is transparent to the audience that it is sponsored while also being easy to produce and editorially independent. Pictured is an early mock of what that might look like and we worked on a publishing system powered by Google Docs to push nicely formatted chunks of content to a page. Today the branded content workflow is now integrated into Chorus <em>(Vox Media’s publishing tools)</em> but the constraints we were working with at the time were more rigid when I designed this mock.</p>
</section>

<section class="project" id="type">
  <h1>Type and lettering</h1>
  <img src="/images/portfolio/type.png" alt="Collection of vox.com screenshots" class="perspective">
  <p>Earlier on in my career I worked as a draftsman at <a href="https://www.dardenstudio.com/">Darden Studio</a> where I learned to love drawing letterforms. At Darden Studio I primarily worked on extending <a href="https://www.dardenstudio.com/typefaces/omnes_pro">Omnes</a>, creating custom versions for clients, and working on other retail type projects. While professionally I have moved more into web and digital product design I keep these skills active and every now and then redraw a logo or pick up a lettering project. Type design is similar to web design as both are forms of system design and every piece has to harmoniously fit into place within the rest of the system.</p>
</section>