<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>Scott Kellum</title>
<meta name="title" content=Scott Kellum />

<!-- iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" sizes="512x512" href="/icon.png" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://scottkellum.com" />
<meta property="og:title" content="Scott Kellum" />
<meta property="og:image" content="/social.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://scottkellum.com" />
<meta property="twitter:title" content="Scott Kellum" />
<meta property="twitter:image" content="/social.jpg" />

<!-- Styles -->
<style global>
	@import "../styles/style.css";
</style>
