---
import H1 from '../components/type/H1.astro';
import Meta from '../components/type/Meta.astro';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

function titleTransform(t) {
  t = t.replaceAll('[', '<strong>');
  t = t.replaceAll(']', '</strong>');
  return t;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				{heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
				<Meta class="publish-date">{publishDate}</Meta>
				<H1 class="title" set:html={titleTransform(title)}></H1>
			</header>
			<main class="article-content">
				<slot />
			</main>
		</div>
	</article>
</div>

<style is:global>
	article {
		width: max(90%, 5vw);
		max-width: 50rem;
		margin-inline: auto;
		margin-block: 2.75rem 30vh;
	}
	header {
		position: relative;
		margin-bottom: 2rem;
	}
	.hero-image {
		width: 60%;
		height: auto;
		max-height: 70%;
		position: absolute;
		inset: 0;
		margin: auto;
		z-index: 1;
		object-fit: cover;
		filter: brightness(4) contrast(0.2) brightness(1.6) grayscale(1);
		mix-blend-mode: multiply;
		transition: filter 1s ease-in-out;
	}
	.hero-image:hover {
		filter: none;
	}
	.H1 {
		mix-blend-mode: multiply;
	}
	.Meta {
		font-size: 0.8rem;
		line-height: 1;
	}
	.article-content p {
		margin-block: 0;
	}
	.article-content p + p {
		text-indent: max(20%, 3rem);
	}
	.article-content h2 {
		font-size: 2rem;
		margin: 1.5rem 0;
		font-weight: 400;
		line-height: 1;
		font-style: italic;
		color: var(--primary);
		word-wrap: break-word;
	}
	@media (min-width: 40em) {
		.article-content h2 {
			text-indent: -1ch;
		}
	}
	.article-content code {
		background: #fff;
		font: inherit;
		color: var(--primary);
		padding-inline: 1ch;
		border-radius: 1em;
		font-style: italic;
	}
	.astro-code {
		padding: 1rem;
		border-radius: 0.5rem;
	}
	.astro-code code {
		background: none;
		padding: 0;
	}
</style>
