---
import H1 from '../components/type/H1.astro';
import Meta from '../components/type/Meta.astro';

export interface Props {
	post: any;
}

function titleTransform(t) {
  t = t.replaceAll('[', '<strong>');
  t = t.replaceAll(']', '</strong>');
  return t;
}

const { post } = Astro.props;
---

<article class="item post-preview">
	<header>
		<Meta>{post.publishDate}</Meta>
		<a href={post.url} class="post-link"><H1 class="title">{titleTransform(post.title)}</H1></a>
	</header>
	<p>{post.description}</p>
</article>

<style global>
.post-preview {
	border-radius: 0.5rem;
	background-color: var(--background-alt);
	padding: 0 2rem 1rem;
	margin: 1rem 2rem 1rem 0;
	position: relative;
	z-index: 0;
	width: calc(90vw - 4rem);
	min-width: min(30rem, 90vw - 4rem);
	overflow: visible;
	white-space: normal;
}
.post-link {
	text-decoration: none;
}
.post-link::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 0.5rem;
	outline: 0px solid var(--primary);
	transition: outline 0.25s ease-in-out;
}
.post-preview .Meta {
	margin-block-start: -0.67rem;
	position: relative;
	z-index: 1;;
}
.post-preview .post-link:focus::after,
.post-preview .post-link:hover::after {
	outline: 0.25rem solid var(--primary);
}
</style>
