---
import H1 from '../components/type/H1.astro';

export interface Props {
	post: any;
}

function titleTransform(t) {
  t = t.replaceAll('[', '<strong>');
  t = t.replaceAll(']', '</strong>');
  return t;
}

const { post } = Astro.props;
---

<article class="item work-preview">
	<header>
		{post.heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={post.heroImage} alt={post.alt} />}
		<a href={post.url} class="post-link"><H1 class="title">{titleTransform(post.title)}</H1></a>
	</header>
</article>

<style global>
.work-preview {
	border-radius: 0.5rem;
	background-color: var(--background);
	padding: 2rem 2rem 2rem 0;
	margin: 1rem 2rem 1rem 0;
	position: relative;
	z-index: 0;
	width: calc(90vw - 4rem);
	min-width: min(30rem, 90vw - 4rem);
	overflow: visible;
	white-space: normal;
	min-height: min(22rem, 80vh);
}
.H1 {
	position: relative;
	mix-blend-mode: multiply;
	transform: translateX(-0.5ch);
}
.post-link {
	text-decoration: none;
}
.post-link::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 0.5rem;
	outline: 0px solid var(--primary);
	transition: outline 0.25s ease-in-out;
}
.work-preview .post-link:focus::after,
.work-preview .post-link:hover::after {
	outline: 0.25rem solid var(--primary);
}
.work-preview img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(0.7) contrast(0.4) brightness(1.5) sepia(0.3);
	mix-blend-mode: multiply;
}
</style>
