<h1 class="H1 typetura">
    <slot />
</h1>

<style global>
.H1 {
    /* Typetura animation function */
    animation: 1s var(--tt-ease, linear) calc(-1s * var(--tt-bind, 0) / var(--max, 1000)) 1 both paused h1;

    /* Your styles */
    font-family: var(--font-display);
    color: var(--primary);
    line-height: 0.85;
    word-wrap: break-word;
    font-weight: 200;

    margin: 0.5rem 0;
    --tt-ease: cubic-bezier(0.7,0,0.85,1);
}
.H1 strong {
    font-weight: 700;
}
@keyframes h1 {
    0% {
        font-size: 1rem;
    }
    100% {
        font-size: 5.55rem;
    }
}
</style>