h1, h2, h3, h4, h5, h6 {
  margin: ms(0) 0;
  text-rendering: optimizeLegibility;
  a {
    text-decoration: none;
  }
}

h1 {
  @include acta;
  font-style: italic;
  font-weight: 800;
  font-size: ms(1);
  line-height: 1;
}

h2 {
  @include acta;
  font-weight: 500;
  font-size: ms(1);
  line-height: 1;
  margin: ms(0) 0 ms(-2) 0;
  &.dek {
    margin: -1em 0 ms(0) 0;
  }
  aside &:first-child {
    margin-top: ms(-1);
  }
}

h1, h2 {
  @include breakpoint(ms(6)) {
    font-size: ms(2);
  }
  @include breakpoint(ms(7)) {
    font-size: ms(2.5);
  }
  @include breakpoint(ms(7.5), $no-query: '.no-mqs') {
    font-size: ms(3);
  }
}

h1 {
  @include breakpoint(ms(8.5)) {
    font-size: ms(3.5);
  }
}

h3 {
  border-top: ms(-4) solid $primary;
  padding-top: ms(-2);
  text-transform: uppercase;
  font: 800 ms(1) $turnip;
  line-height: 1;
}

h4 {
  border-top: ms(-5) solid $primary;
  padding-top: ms(-2);
  text-transform: uppercase;
  font: 400 ms(1) $turnip;
  line-height: 1;
}

h5 {
  font-style: italic;
  font-size: ms(.5);
}

h6 {
  font-size: ms(.5);
}

hr {
  border: none;
  height: ms(-4);
  background: $primary;
  margin: ms(1) 0;
}