$symbols: ☺ ✌ ✍ ☂ ✰ ❦ ☜ ☠ ✑ ❀ ⚐ ➳ ✈ ♞;
$symbol: getUnicode('#{nth($symbols, random(length($symbols)) + 1)}');

// Load icon font
@font-face {
  font-family: 'iconfnt';
  src: url('/fonts/iconfnt.eot');
  src: url('/fonts/iconfnt.eot?#iefix') format('embedded-opentype'),
       url('/fonts/iconfnt.woff') format('woff'),
       url('/fonts/iconfnt.ttf') format('truetype'),
       url('/fonts/iconfnt.svg#scottkellum-icoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: iconfnt;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}