---
title: A simple blog
date: 2013-01-01
---

<p>Instead of over-engineering things, lets just get writing and keep things simple. What is more simple than a collection of files?</p>

<p>This works for now. This will hold me over until things are in place to make things better. The oriningal flat-file CMS and we could all use some naked HTML every now and then to remind us of how things once were and how sometimes it's the simple things in life that work the best.</p>
