<h1>Colophon</h1>

<p>This website is built with <a href="http://middlemanapp.com/">Middleman</a>, <a href="http://sass-lang.com/">Sass</a>, and <a href="http://compass-style.org/">Compass</a>. It is designed content-first and flattened into static pages to make things fast and easy to read.</p>

<h2>Typography</h2>

<ul>
  <li><strong>Headings:</strong> <em><a href="https://typekit.com/fonts/acta-display">Acta Display</a></em> by <a href="http://www.dstype.com/">DSType</a></li>
  <li><strong>Text:</strong> <em><a href="http://www.webtype.com/font/turnip-re-family/">Turnip RE</a></em> by <a href="http://djr.com/">David Jonathan Ross</a></li>
</ul>

<h2>Compass plugins</h2>

<ul>
  <li><a href="http://breakpoint-sass.com/">Breakpoint</a></li>
  <li><a href="https://github.com/Team-Sass/color-schemer">Color Schemer</a></li>
  <li><a href="https://github.com/Team-Sass/toolkit">Toolkit</a></li>
  <li><a href="https://github.com/Team-Sass/modular-scale">Modular Scale</a></li>
</ul>