<h1>Scott Kellum</h1>

<p>Scott is a multidisciplinary product and UX designer with strong front-end development skills. This enables him to work through designs from early problem solving to high fidelity prototypes. Deep understanding of this process enables him to better communicate the project requirements and constraints with a team or take complex challenges on independently.</p>

<p>Proficient in <a href="https://www.sketchapp.com/">Sketch</a>, <a href="http://principleformac.com/">Principle</a>, Illustrator, Photoshop, InDesign, Adobe XD, HTML, CSS (<a href="http://sass-lang.com/">Sass</a>), JavaScript, and more.</p>

<h2>Experience</h2>

<ul>
  <li>
    <a href="#contact">Your company here <em style="font-weight: 400">DC/remote/consulting</em><br>
    <span class="dates">2017 – present</span></a>
  </li>
  <li>
    <a href="#vox">Principal Front-end Designer, Vox Media<br>
    <span class="dates">2012 – 2017</span></a>
  </li>
  <li>
    <a href="#treesaver">Design Director, Treesaver<br>
    <span class="dates">2010 – 2012</span></a>
  </li>
  <li>
    <a href="#darden">Draftsman, Darden Studio<br>
    <span class="dates">2008 – 2010</span></a>
  </li>
  <li>
    <a href="#vm">Design Assistant, Very Memorable Design<br>
    <span class="dates">2006 – 2008</span></a>
  </li>
  <li>
    <a href="#parsons">Student, Parsons School of Design<br>
    <span class="dates">2005 – 2009</span></a>
  </li>
</ul>

<p><span id="vox">At Vox Media, Scott helped relaunch SB Nation, which won The Society of News Design award for <em><a href="http://www.snd.org/2013/03/meet-snds-2012-worlds-best-news-sites-and-apps-sb-nation-lenta-ru-and-the-guardian-and-observer-ipad-app/">World’s Best Designed Website</a></em> in 2012. Along with the SB Nation redesign, Scott created a new, high-impact ad unit to be shown alongside longform articles that later became Vox Media’s <em><a href="https://www.voxmedia.com/pages/advertising">Athena</a></em> product and has been widely copied by other publishers. More recently he has revamped all these products with a focus on high impact video placements and expanding the product line to video content on social platforms like Facebook. Scott took <a href="http://www.theverge.com/">The Verge’s</a> longform program to the next level by collaborating with editors <a href="http://www.theverge.com/2013/1/31/3929342/the-stars-on-a-shoestring-amateurs-ignite-grassroots-space-race">to</a> <a href="http://www.theverge.com/2013/1/16/3740422/the-life-and-death-of-the-american-arcade-for-amusement-only">tell</a> <a href="http://www.theverge.com/2013/8/13/4605528/your-meat-addiction-is-destroying-the-planet-but-we-can-fix-it">stories</a> and create <a href="http://www.theverge.com/2013/11/26/5146678/the-verge-holiday-gift-guide-2013">buying</a> <a href="http://www.theverge.com/2013/8/22/4645454/back-to-school-2013-the-verge-guide">guides</a> through art direction, infographics, and creating new templates for more immersive storytelling. After working on The Verge, he helped kick off Vox Media’s branded content distribution platform, launched Vox Media’s flagship news site, <a href="http://www.vox.com/">Vox</a>, and helped with both the design and front-end development of the new version of the Chorus story editor and content management system.</span></p>

<p>Outside of work, Scott has helped create products such as <a href="http://tonr.co/">Tōnr</a>, an app designed to make photography more inclusive with a variety of photo filters that amplify how beautiful a variety of skin tones are instead of washing them out. The goal of Tōnr is to create filters that affirm that black, brown and other skin tones are beautiful. Scott helped create <a href="http://www.modularscale.com/">Modular Scale</a>, a calculator that helps designers with type scale calculations. While creating products, Scott has contributed to the CSS community by being the first to create a <a href="http://codepen.io/scottkellum/pen/bHEcA">pure CSS parallax technique</a>, a popular <a href="http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/">image replacement method</a>, creating innovative grid systems like <a href="https://github.com/at-import/Singularity">Singularity</a> and <a href="https://product.voxmedia.com/2015/4/8/8366999/gliss-constraint-layout-grid-for-articles">Gliss</a>, and has given back to the community by cofounding <a href="http://sassconf.com/">SassConf</a> and <a href="https://www.meetup.com/gothamsass/">Gotham Sass</a>.</p>

<p><span id="treesaver">Before working at Vox Media, Scott worked as the lead designer and stylesheet developer at Treesaver, a <a href="https://twitter.com/rogerblack">Roger Black</a> company, with a product that enables algorithmic page layout for the web. This involved creating design systems around the algorithms enabling glossy magazine style layouts with the input being raw content. To better achieve these design goals, Scott created a Sass framework that could be modified to create design systems for different publications as needed. During this time, Scott worked to launch online magazines with Nomad Editions, <a href="http://www.sportingnews.com/">Sporting News</a>, <a href="https://www.icij.org/">ICIJ</a>, and <a href="http://ready-media.com/">Ready-Media</a>.</span></p>

<p><span id="darden">Before working as a digital product designer, Scott worked as a draftsman at the boutique type foundry <a href="https://www.dardenstudio.com/">Darden Studio</a>. While mostly working on custom work for clients, Scott also aided in the production of <a href="https://www.dardenstudio.com/typefaces/omnes_pro">Omnes Pro</a>, <a href="https://www.dardenstudio.com/typefaces/dapifer">Dapifer</a>, and <a href="https://www.dardenstudio.com/typefaces/corundum_text">Corundum Text</a>.</span></p>

<p><span id="parsons">In 2009 Scott graduated from <a href="http://www.newschool.edu/parsons/">Parsons School of Design</a> in New York City with a degree in communication design. Scott’s focus was in printmaking and typography while he kept up with digital product trends outside of classes.</span> <span id="vm">While in school Scott worked at a small educational startup called <a href="http://verymemorable.com/">Very Memorable Media</a> where he got experience working on websites and interactive projects for <a href="http://verymemorable.com/portfolio/clifford/">Scholastic</a>, PBS, and <a href="http://verymemorable.com/portfolio/kidz-bop/">Kidz Bop</a></span></p>

<p><span id="contact">
  <strong>Scott Kellum</strong><br>
  <a href="mailto:scott@scottkellum.com?subject=Job%20inquiry">scott@scottkellum.com</a>
</span></p>

<style>
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  li {
    margin: .5em 0;
  }
  .dates {
    font-weight: 400;
  }
  span:target {
    background-color: rgba(0,203,200,.1);
  }
</style>